h1 {
    color: blue;
}

h2 {
    color: #025993bd;
    font-size: 40px;
    margin-bottom: 5px;
}

#tom {
    width: auto;
    height: auto;
    max-width: 75px;
}

p,
h1 {
    font-family: "Courier New", monospace;
    color: rgb(223, 223, 223);
}

#tomClick {
    display: block;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: rgb(53, 158, 211);
    border-width: 4px;
}

#topScreen {
    display:flexbox;
}

#codepic {
    width: auto;
    height: auto;
    max-width: 118px;
}

#codeClick {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: block;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: rgb(44, 36, 39);
    border-width: 4px;
}

html {
    background-color: #1e1e1e;
    height: 100%;
    font-family: "Courier New", monospace;
}

aside {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 300px 250px 700px;
    
}

aside div {
    background-color: #252526;
}

.locations {
    margin: 2px;
    width: 300px;
    height: 80px;
    border: rgb(43, 43, 43);
    border-radius: 4px;
}

aside>div {
    border: 4px solid rgb(43, 43, 43);
}


.students,
#location1,
#location2,
#location3,
#location4,
#location5 {
    display: inline-flex;
}

.upgrades img {
    border: 5px solid #555;
}

.tabcontent button,
.upgrades button,
#save {
    align-items: center;
    background-color: #3d3b3c;
    border: 4;
    border-radius: 8px;
    box-shadow: #02599337 0 5px 20px 0px;
    box-sizing: border-box;
    color: #6a6767;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 10px;
    justify-content: center;
    line-height: 1em;
    max-width: 150px;
    max-height: 78px;
    min-width: 200px;
    padding: 10px 10px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin: 4px;
}

.playerClickers:active {
    border: none;
}

body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #323031;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: #323031;
    float: left;
    border: solid black;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    padding: 14px 10px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #676566;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #807e7f;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    font-size: 10px;
}